/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */

html {
	font-family: config('fonts.sans');
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: config('colors.police-blue')
}
body {
	@apply bg-mint
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
a {
	@apply no-underline outline-none text-police-blue
}
img {
	@apply block
}
.transition {
	transition: all 0.15s;
}
.deep-h-full, .deep-h-full > div {
	@apply h-full
}
.deep-h-full > div {
	@apply pb-4 max-h-180
}
.btn {
	transition: all 0.15s;
	@apply bg-mint border border-police-blue text-white
}
.btn:hover {
	@apply bg-mint-dark
}
.btn:focus {
	@apply outline-none
}
.form-control {
	@apply border pl-2 py-2 pr-6 rounded outline-none leading-normal
}
.form-control:disabled {
	@apply bg-white
}
.grad {
	background-image: linear-gradient(config('colors.police-blue'), config('colors.mint'));
}
